/* Overrides for Reveal CSS */

@font-face {
  font-family: 'Patrick Hand';
  src: url('../fonts/PatrickHand-Regular.ttf');
}

.reveal {
  font-family: 'Patrick Hand', cursive !important;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  font-family: 'Patrick Hand', cursive !important;  
  text-transform: none !important;
}

.reveal a:hover img {
  background: none !important;
  border-color: none !important;
  box-shadow: none !important; 
}

.reveal pre {
  width: 100%;
  box-shadow: none;
  line-height: 0.5em;
}

.reveal pre code {
  line-height: 1.2em;
}

/* Custom classes */
.email-container {
  display: flex;
}

.title-img {
  background: none !important;  
}

.main-img {
  background: none !important;  
  height: 550px;  
}

.main-logo {
  background: none !important;
  width: 120px;
  height: 120px;
}

.main-logo-big {
  background: none !important;
  width: 250px;
  height: 250px;
}

.social-logo {
  background: none !important;
  width: 70px;
  height: 70px;
}
.social-logo-small {
  background: none !important;
  width: 70px;
  height: 70px;
}

.slide-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-margin {
  margin: 0 !important;
  line-height: 0.8 !important;
  font-size: 35px;
}